body{
    font-family: 'Amatic SC', cursive;
}

.world{
    display: flex;
    justify-content: center;
}
.gameTitle{
    width: 100%;
    height: 640px;
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
   z-index: 1;
}

#gameTitle{
    font-size: 4rem;
    color: white;
}

.scnBtn{
    box-shadow: 0px 0px 0px .5px #f2fadc;
    background:rgba(255,255,255,0.5);
    box-shadow: 0px;
    color: black;
    font-size: 1rem;
    padding: 1rem 1.5rem;
}
.worldPic{
    position: absolute;
    z-index: 0;
}

.playingTitle{
    font-size: 4rem;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

button{
    box-shadow: 0px 1px 4px  rgba(0, 0, 0, 0.6);
    background-color:#dbe6c4;
    transition: background-color .3s;
	border:1px solid  black; 
	cursor:pointer;
    font-family:'Libre Franklin', sans-serif;
	font-size:12px;
	padding:12px 37px;
    text-shadow:0px 1px 0px #ced9bf;
    margin: .25rem;
}

button:disabled{
    background-color: #79807e;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    text-shadow: none;
}

     

.gamePrgrs{
    display:flex;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 .35rem;
    background-color: black /*rgb(90, 62, 32)*/;
    color: white;
    letter-spacing: .1rem;
}

#buttonHolder{
    display: flex;
}

.gameTitle{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 3.5rem;
}

.title{
    height: 2.5rem;
    margin: .25rem;
}

#slanting{
    transform: rotate(-30deg);
    margin: 1rem .25rem 2rem
}
#picHolder{
    position:relative
}

.menuGlobe{
    height: 6rem;
    margin: .5rem;
}

#fnFact{
    font-size: 1.5rem;
    background: rgb(5, 5, 5, 0.5);
    color: white;
    font-style: normal;
    letter-spacing: .2rem;
    text-align: center;
    font-family:'Libre Franklin', sans-serif;
}
.displayPic{
    background-color: #79807e;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13rem;
    font-display: bold;
    border: 3px solid black;
    color: white;
    width: 30rem;
    height: 15rem;
    margin: 2rem;
    padding: 2rem;
}


.displayFact{
    font-family:'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    font-display: bold;
    border: 3px solid black;
    color:black;
    width: 30rem;
    height: 18rem;
    margin: 2rem;
    padding: 2rem;
}



#funFact{
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: yellow;
}

#animalPic{
    box-shadow: 0px 0px 0px 2px #f2fadc;
    text-align: center;
    width: 30rem;
    height: 15rem;
    margin: 2rem;

}
#letters{
    display: flex;
    flex-direction: row;
}

.holdingDiv{
    height: 4.25rem;
    width: 4.25rem;
    margin: 2px;
}

.ltr, .droppedLtr {
    height: 4rem;
    width:4rem;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #BD8E6A; */
    /* background-image: url(assets/backdrop-background-brown-129733.jpg); */
    color: rgb(5, 5, 5);
    font-style: bold;

}

#word{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
.word{
    height: 4.25rem;
    width: 4.25rem;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-content: end;
    border-bottom: 2px solid rgb(5, 5, 5);
}

.invisible{
    display: none;
}

.bigNet{
    background-attachment: scroll;
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: tan; */
}